  .vbtn{
    position: absolute;
    top:0;
    width: 100%;
  }
  .vbtn div{
    position: absolute;
    z-index: 9999
  }
  .vbtn div span{
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    font-size: 2rem;
  }
   .vbtn div.middle:nth-of-type(1){
    left: 1rem;
  }
  .vbtn div.middle:nth-of-type(2){
    left: 6.5rem;
  }
  .vbtn div.middle:nth-of-type(3){
    right:6.5rem;
  }
  .vbtn div.middle:nth-of-type(4){
    right:1rem;
  }
   .vbtn div.middle2:nth-of-type(1){
    left: 3rem;
  }
  .vbtn div.middle2:nth-of-type(2){
    right:3rem;
  }
  .vbtn div.middleAround:nth-of-type(1){
    left: 3rem;
  }
  .vbtn div.middleAround:nth-of-type(2){
    left: 7rem;
    top:-5rem;
  }
  .vbtn div.middleAround:nth-of-type(3){
    right: 7rem;
    top:-5rem;
  }
  .vbtn div.middleAround:nth-of-type(4){
    right: 3rem;
  }
  .vbtn div.left:nth-of-type(1){
   left: 5rem;
  }
  .vbtn div.left:nth-of-type(2){
    left: 10rem;
  }
  .vbtn div.left:nth-of-type(3){
    left: 15rem;
  }
  .vbtn div.left:nth-of-type(4){
    left: 20rem;
  }
  .vbtn div.left2:nth-of-type(1){
   left: 5rem;
  }
  .vbtn div.left2:nth-of-type(2){
    left: 10rem;
  }
  .vbtn div.right:nth-of-type(1){
    right: 5rem;
  }
  .vbtn div.right:nth-of-type(2){
    right: 10rem;
  }
  .vbtn div.right:nth-of-type(3){
    right: 15rem;
  }
  .vbtn div.right:nth-of-type(4){
    right: 20rem;
  }
  .vbtn div.right2:nth-of-type(1){
    right: 5rem;
  }
  .vbtn div.right2:nth-of-type(2){
    right: 10rem;
  }
