  .vbtn div.mask{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 9 !important;
  }
  .vbtn div.white{
    top: 0;
    opacity: 0.7;
    background-color: white;
    z-index: 999 !important
  }
  .vbtn div.black{
    top: 0;
    opacity: 0.7;
    background-color: black;
    z-index: 999 !important
  }
  span.btnfather{
    z-index: 9999;
    position: absolute;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    bottom:5px;
    background-color: greenyellow;
    color: white;
  }
  span.isCircle{
    border-radius: 50%
  }
  span.middle{
    left: 50%;
    margin-left: -1.5rem;
  }
  span.left{
    left: 50%;
    margin-left: 12rem;
  }
  span.right{
    left: 50%;
    margin-left: -15rem;
  }
  span.circle{
    border-radius: 50%
  }
  .vbtn{
    top:0;
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  .vbtn:hover{
    cursor: pointer;
  }
  .vbtn > div.middle,div.middle2,div.middleAround,div.left,div.left2,div.right,div.right2{
    position: absolute;
    bottom:5px;
    left: 50%;
    height: 3rem;
    width: 3rem;
    z-index: 999
  }
  .vbtn div span{
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    font-size: 2rem;
  }
   .vbtn .middle:nth-of-type(3){
    margin-left: -11.5rem;
  }
  .vbtn .middle:nth-of-type(2){
    margin-left: -6.5rem;
  }
  .vbtn .middle:nth-of-type(5){
    margin-left: 3.5rem;
  }
  .vbtn .middle:nth-of-type(4){
    margin-left: 8.5rem;
  }
   .vbtn .middle2:nth-of-type(2){
    margin-left: -6.5rem;
    
  }
  .vbtn .middle2:nth-of-type(3){
    margin-left: 3.5rem;
  }
  .vbtn .middle2:nth-of-type(5){
    margin-left: 3.5rem;
  }
  .vbtn .middleAround:nth-of-type(2){
    margin-left: -9.5rem;

  }
  .vbtn .middleAround:nth-of-type(3){
    bottom:5rem;
    margin-left: -5.5rem;
  }
  .vbtn .middleAround:nth-of-type(4){
    bottom:5rem;
    margin-left:3rem;
  }
  .vbtn .middleAround:nth-of-type(5){
    margin-left: 7rem;
  }
  .vbtn .left:nth-of-type(2){
    margin-left: 8rem;
  }
  .vbtn .left:nth-of-type(5){
    margin-left: 3.5rem;
  }
  .vbtn .left:nth-of-type(4){
    margin-left: -1rem;
  }
  .vbtn .left:nth-of-type(3){
    margin-left: -5.5rem;
  }
  .vbtn .left2:nth-of-type(2){
    margin-left: 8rem;
  }
  .vbtn .left2:nth-of-type(3){
    margin-left: 3.5rem;
  }
  .vbtn .left2:nth-of-type(5){
    margin-left: 3.5rem;
  }
  .vbtn .right:nth-of-type(2){
    margin-left: -11rem;
  }
  .vbtn .right:nth-of-type(5){
    margin-left: -6.5rem;
  }
  .vbtn .right:nth-of-type(4){
    margin-left: -2rem;
  }
  .vbtn .right:nth-of-type(3){
    margin-left: 2.5rem;
  }
  .vbtn .right2:nth-of-type(2){
    margin-left: -11rem;
  }
  .vbtn .right2:nth-of-type(3){
    margin-left: -6.5rem;
  }
  .vbtn .right2:nth-of-type(5){
    margin-left: -6.5rem;
  }

/*一个animate*/
  .bounce-enter-active {
    animation: bounce-in .5s;
  }
  .bounce-leave-active {
    animation: bounce-in .5s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }


/*phone样式*/
  @media only screen and (max-width: 769px ) {
    .vbtn div.middle:nth-of-type(3), .vbtn div.middle:nth-of-type(2),.vbtn div.middle2:nth-of-type(2),.vbtn div.middleAround:nth-of-type(2),
    .vbtn div.middleAround:nth-of-type(3),.vbtn div.left:nth-of-type(2),.vbtn div.left:nth-of-type(3),.vbtn div.left:nth-of-type(4),.vbtn div.left:nth-of-type(5),.vbtn div.left2:nth-of-type(2),.vbtn div.left2:nth-of-type(5){
      left: 50%;
    }
    .vbtn div.middle:nth-of-type(5),.vbtn div.middle:nth-of-type(4),.vbtn div.middle2:nth-of-type(3),.vbtn div.middle2:nth-of-type(5),.vbtn div.middleAround:nth-of-type(4),.vbtn div.middleAround:nth-of-type(5),.vbtn div.right:nth-of-type(2),.vbtn div.right:nth-of-type(3),.vbtn div.right:nth-of-type(4),.vbtn div.right:nth-of-type(5),.vbtn div.right2:nth-of-type(2),.vbtn div.right2:nth-of-type(5){
      right: 50%;
    }
  }